
.BeadRoadPane {
	-fx-background-color: rgb(108,116,118,.5);
	-fx-padding:0 0 0 0;
	-fx-background-radius:0,0,0,0;
	-fx-border-color:rgb(108,116,118);
	-fx-border-width:0,0,0,0;
	-fx-border-radius:0,0,0,0;
	-fx-pref-height:233;
	-fx-pref-width:626;
}

.BeadRoadTilePane {
    -fx-padding:0,0,0,0;
	-fx-tile-alignment: top-left;
	-fx-pref-rows: 6;
	-fx-pref-columns: 11;
	-fx-pref-tile-width: 56;
	-fx-pref-tile-height: 59;
	-fx-hgap: .5;
	-fx-vgap: .5;

}

.BeadRoadLabel {
    -fx-background-color:white;
    -fx-pref-height: 59;
    -fx-pref-width: 56;
}

.BeadRoadLabel:empty {
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 56 56;
}

.BeadRoadLabel:baharWin {
    -fx-background-image: url("../images/bead-road/a.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 56 56;
}

.BeadRoadLabel:andarWin {
    -fx-background-image: url("../images/bead-road/e.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 56 56;
}

.BeadRoadLabel:baharFirstWin {
    -fx-background-image: url("../images/bead-road/a.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 56 56;
}

.BeadRoadLabel:andarFirstWin {
    -fx-background-image: url("../images/bead-road/e.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 56 56;
}

.BeadRoadLabel:baharSecondWin {
    -fx-background-image: url("../images/bead-road/a.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 56 56;
}

.BeadRoadLabel:andarSecondWin {
    -fx-background-image: url("../images/bead-road/e.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 56 56;
}


