
.BigRoadTilePane {
    -fx-background-color: bigroad-bg-color;
    -fx-background-radius: 2;
	-fx-padding:0 0 0 0;
	-fx-orientation: vertical;
	-fx-alignment: top-left;
	-fx-tile-alignment: top-left;
	-fx-pref-rows:10;
	-fx-pref-columns:29;
	-fx-pref-tile-width:53;
	-fx-pref-tile-height:53;
	-fx-hgap:.5;
	-fx-vgap:.5;
}

.BigRoadLabel {
	-fx-background-color:bigroad-tile-color;
	-fx-alignment:center;
	-fx-text-overrun:center-ellipsis;
	-fx-text-fill:white;
	-fx-font-weight:bold;
	-fx-pref-width:53;
	-fx-pref-height:53;
}


.BigRoadLabel:empty {
    -fx-padding:2 2 2 2;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}

.BigRoadLabel:bankerWin {
    -fx-padding:2 2 2 2;
	-fx-background-image: url("../images/big-road/bahar.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 51;
}


.BigRoadLabel:playerWin {
    -fx-padding:2 2 2 2;
	-fx-background-image: url("../images/big-road/andar.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 51;
}
