
@font-face {
    src: url('ttf/ANTQUAB.TTF');
}

@font-face {
    src: url('ttf/ANTQUA.ttf');
}

@font-face {
    src: url('ttf/Bauhaus.ttf');
}

@font-face {
    src: url('ttf/Bodonio.ttf');
}

@font-face {
    src: url('ttf/BarlowBold.ttf');
}

@font-face {
    src: url('ttf/BarlowExtraBold.ttf');
}


.gameBox {
	-fx-background-color: style1-color;
	-fx-padding: 10 5 5 5;
	-fx-spacing:5;
	-fx-pref-width:1920;
	-fx-pref-height:1080;
}


.bottomHBox {
	-fx-pref-width:1910;
	-fx-spacing:11;
}



.BeadRoadPane {
	-fx-background-color: rgb(108,116,118,.5);
	-fx-padding:0 0 0 0;
	-fx-background-radius:0,0,0,0;
	-fx-border-color:rgb(108,116,118);
	-fx-border-width:0,0,0,0;
	-fx-border-radius:0,0,0,0;
	-fx-pref-height:233;
	-fx-pref-width:626;
}


.BeadRoadTilePane {
    -fx-padding:0,0,0,0;
	-fx-tile-alignment: top-left;
	-fx-pref-rows: 6;
	-fx-pref-columns: 11;
	-fx-pref-tile-width: 56;
	-fx-pref-tile-height: 59;
	-fx-hgap: .5;
	-fx-vgap: .5;

}

.BeadRoadLabel {
    -fx-background-color:style3-color;
/*    -fx-padding:1,1,1,1;*/
    -fx-pref-height: 59;
    -fx-pref-width: 56;
}

.BeadRoadLabel:bankerWin {
    -fx-background-image: url("png/bead-road/a.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    	-fx-background-size: 56 56;
}

.BeadRoadLabel:bankerWinBankerPair {
    -fx-background-image: url("png/bead-road/b.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    	-fx-background-size: 56 56;
}

.BeadRoadLabel:bankerWinPlayerPair {
    -fx-background-image: url("png/bead-road/c.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    	-fx-background-size: 56 56;
}

.BeadRoadLabel:bankerWinBothPair {
    -fx-background-image: url("png/bead-road/d.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    	-fx-background-size: 56 56;
}

.BeadRoadLabel:playerWin {
    -fx-background-image: url("png/bead-road/e.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    	-fx-background-size: 56 56;
}

.BeadRoadLabel:playerWinBankerPair {
    -fx-background-image: url("png/bead-road/f.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    	-fx-background-size: 56 56;
}

.BeadRoadLabel:playerWinPlayerPair {
    -fx-background-image: url("png/bead-road/g.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    	-fx-background-size: 56 56;
}

.BeadRoadLabel:playerWinBothPair {
    -fx-background-image: url("png/bead-road/h.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    	-fx-background-size: 56 56;
}

.BeadRoadLabel:tieWin {
    -fx-background-image: url("png/bead-road/i.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    	-fx-background-size: 56 56;
}

.BeadRoadLabel:tieWinBankerPair {
    -fx-background-image: url("png/bead-road/j.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    	-fx-background-size: 56 56;
}

.BeadRoadLabel:tieWinPlayerPair {
    -fx-background-image: url("png/bead-road/k.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    	-fx-background-size: 56 56;
}

.BeadRoadLabel:tieWinBothPair {
    -fx-background-image: url("png/bead-road/l.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    	-fx-background-size: 56 56;
}



.menuBox {
        -fx-background-color: #43585c;
        -fx-background-color: #00293c;
        -fx-border-radius: 5 5 5 5;
            	-fx-text-fill: white;
            	-fx-pref-width:310;
                -fx-pref-height:354;
}

.menuTitle {
        -fx-background-color: #4cb5f5;
    	-fx-text-fill: white;
    	-fx-pref-width:320;
        -fx-pref-height:42;
        -fx-alignment:center;
    	-fx-font-family: 'Bauhaus';
    	-fx-font-size: 25;
}

.menuLabels {
        -fx-background-color: #aac1c6;
        -fx-background-color: #f1f3ce;
    	-fx-text-fill: black;
    	-fx-pref-width:200;
        -fx-pref-height:42;
        -fx-alignment:top-left;
    	-fx-font-family: 'Bauhaus';
    	-fx-font-size: 20;
}

.menuLabels:focused {
        -fx-background-color: #34675c;
        -fx-background-color: #f62a00;
    	-fx-text-fill: black;
    	-fx-pref-width:200;
        -fx-pref-height:42;
        -fx-alignment:top-left;
    	-fx-font-family: 'Bauhaus';
    	-fx-font-size: 20;
}

.menuSelectionLabels {
        -fx-background-color: #4cb5f5;
    	-fx-text-fill: black;
    	-fx-pref-width:200;
        -fx-pref-height:42;
        -fx-alignment:top-left;
    	-fx-font-family: 'Bauhaus';
    	-fx-font-size: 20;
}

.menuSelectionLabels:focused {
        -fx-background-color: #34675c;
        -fx-background-color: #f62a00;
    	-fx-text-fill: black;
    	-fx-pref-width:200;
        -fx-pref-height:42;
        -fx-alignment:top-left;
    	-fx-font-family: 'Bauhaus';
    	-fx-font-size: 20;
}


.LastWinResultLabel {
    -fx-font-family: 'Barlow';
	-fx-effect: dropshadow( one-pass-box , gold , 4 , 0.0 , 1 , 0 );
	-fx-font-size: 30;
	-fx-text-fill: white;
	-fx-text-alignment: center;
    -fx-pref-height: 180;
    -fx-pref-width: 180;
}

.LastWinResultLabel:bankerWin {
    -fx-background-image: url("abpng/wins/bahar.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 180 180;
}

.LastWinResultLabel:playerWin {
    -fx-background-image: url("abpng/wins/andar.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 180 180;
}

.bettingTexts {
    -fx-font-family: 'Barlow';
	-fx-font-size: 37;
}

.trendTexts {
    -fx-font-family: 'Barlow';
	-fx-font-size: 37;
}

.gameCountTexts {
    -fx-font-family: 'Barlow';
	-fx-font-size: 37;
}

.legendTexts {
    -fx-font-family: 'Barlow';
	-fx-font-size: 37;
}

