
@font-face {
    src: url('../fonts/ANTQUAB.TTF');
}

@font-face {
    src: url('../fonts/ANTQUA.ttf');
}

@font-face {
    src: url('../fonts/Bauhaus.ttf');
}

@font-face {
    src: url('../fonts/Bodonio.ttf');
}

@font-face {
    src: url('../fonts/BarlowBold.ttf');
}

@font-face {
    src: url('../fonts/BarlowExtraBold.ttf');
}


.BeadRoadPane {
	-fx-background-color: rgb(108,116,118,.5);
	-fx-padding:0 0 0 0;
	-fx-background-radius:0,0,0,0;
	-fx-border-color:rgb(108,116,118);
	-fx-border-width:0,0,0,0;
	-fx-border-radius:0,0,0,0;
	-fx-pref-height:233;
	-fx-pref-width:626;
}


.BeadRoadTilePane {
    -fx-padding:0,0,0,0;
	-fx-tile-alignment: top-left;
	-fx-pref-rows: 6;
	-fx-pref-columns: 11;
	-fx-pref-tile-width: 56;
	-fx-pref-tile-height: 59;
	-fx-hgap: .5;
	-fx-vgap: .5;

}

.BeadRoadLabel {
    -fx-background-color:white;
/*    -fx-padding:1,1,1,1;*/
    -fx-pref-height: 59;
    -fx-pref-width: 56;
}

.BeadRoadLabel:bankerWin {
    -fx-background-image: url("png/bead-road/a.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    	-fx-background-size: 56 56;
}

.BeadRoadLabel:playerWin {
    -fx-background-image: url("png/bead-road/e.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    	-fx-background-size: 56 56;
}


.menuBox {
        -fx-background-color: #43585c;
        -fx-background-color: #00293c;
        -fx-border-radius: 5 5 5 5;
            	-fx-text-fill: white;
            	-fx-pref-width:310;
                -fx-pref-height:354;
}

.menuTitle {
        -fx-background-color: #4cb5f5;
    	-fx-text-fill: white;
    	-fx-pref-width:320;
        -fx-pref-height:42;
        -fx-alignment:center;
    	-fx-font-family: 'Bauhaus';
    	-fx-font-size: 25;
}

.menuLabels {
        -fx-background-color: #aac1c6;
        -fx-background-color: #f1f3ce;
    	-fx-text-fill: black;
    	-fx-pref-width:200;
        -fx-pref-height:42;
        -fx-alignment:top-left;
    	-fx-font-family: 'Bauhaus';
    	-fx-font-size: 20;
}

.menuLabels:focused {
        -fx-background-color: #34675c;
        -fx-background-color: #f62a00;
    	-fx-text-fill: black;
    	-fx-pref-width:200;
        -fx-pref-height:42;
        -fx-alignment:top-left;
    	-fx-font-family: 'Bauhaus';
    	-fx-font-size: 20;
}

.menuSelectionLabels {
        -fx-background-color: #4cb5f5;
    	-fx-text-fill: black;
    	-fx-pref-width:200;
        -fx-pref-height:42;
        -fx-alignment:top-left;
    	-fx-font-family: 'Bauhaus';
    	-fx-font-size: 20;
}

.menuSelectionLabels:focused {
        -fx-background-color: #34675c;
        -fx-background-color: #f62a00;
    	-fx-text-fill: black;
    	-fx-pref-width:200;
        -fx-pref-height:42;
        -fx-alignment:top-left;
    	-fx-font-family: 'Bauhaus';
    	-fx-font-size: 20;
}




.bettingTexts {
    -fx-font-family: 'Barlow';
	-fx-font-size: 37;
}

.trendTexts {
    -fx-font-family: 'Barlow';
	-fx-font-size: 37;
}

.gameCountTexts {
    -fx-font-family: 'Barlow';
	-fx-font-size: 37;
}

.legendTexts {
    -fx-font-family: 'Barlow';
	-fx-font-size: 37;
}

