
@font-face {
    src: url('../fonts/ANTQUAB.TTF');
}

@font-face {
    src: url('../fonts/ANTQUA.ttf');
}

@font-face {
    src: url('../fonts/Bauhaus.ttf');
}

@font-face {
    src: url('../fonts/Bodonio.ttf');
}

@font-face {
    src: url('../fonts/BarlowBold.ttf');
}

@font-face {
    src: url('../fonts/BarlowExtraBold.ttf');
}

