
@font-face {
    src: url('../fonts/ANTQUAB.TTF');
}

@font-face {
    src: url('../fonts/ANTQUA.ttf');
}

@font-face {
    src: url('../fonts/Bauhaus.ttf');
}

@font-face {
    src: url('../fonts/Bodonio.ttf');
}

@font-face {
    src: url('../fonts/BarlowBold.ttf');
}

@font-face {
    src: url('../fonts/BarlowExtraBold.ttf');
}


.bettingTexts {
    -fx-font-family: 'Barlow';
	-fx-font-size: 37;
}

.trendTexts {
    -fx-font-family: 'Barlow';
	-fx-font-size: 37;
}

.gameCountTexts {
    -fx-font-family: 'Barlow';
	-fx-font-size: 37;
}

.legendTexts {
    -fx-font-family: 'Barlow';
	-fx-font-size: 37;
}

