.Theme1 {
    game-box-color: linear-gradient(to top, #ff8008, #ffc837);
    header-text-color: black;

    beadroad-bg-color: rgb(108,116,118,.5);
    beadroad-tile-color: white;
    bigroad-bg-color: rgb(108,116,118,.5);
    bigroad-tile-color: white;
    bigeyeroad-bg-color: rgb(108,116,118,.5);
    bigeyeroad-tile-color: white;
    smallroad-bg-color: rgb(108,116,118,.5);
    smallroad-tile-color: white;
    cockroachroad-bg-color: rgb(108,116,118,.5);
    cockroachroad-tile-color: white;

    paytable-bg-color: #2D4350;
    paytable-header-text-color: goldenrod;
    paytable-text-color: white;

    footer-border-color: goldenrod;
    footer-text-color: white;
    footer-bg-color: rgb(255, 255, 255, .1)

}

.Theme2 {
    game-box-color: linear-gradient(to bottom, #ff5f6d, #ffc371);
    header-text-color: black;


    beadroad-bg-color: rgb(108,116,118,.5);
    beadroad-tile-color: white;
    bigroad-bg-color: rgb(108,116,118,.5);
    bigroad-tile-color: white;
    bigeyeroad-bg-color: rgb(108,116,118,.5);
    bigeyeroad-tile-color: white;
    smallroad-bg-color: rgb(108,116,118,.5);
    smallroad-tile-color: white;
    cockroachroad-bg-color: rgb(108,116,118,.5);
    cockroachroad-tile-color: white;

    paytable-bg-color: #2D4350;
    paytable-header-text-color: goldenrod;
    paytable-text-color: white;

    footer-border-color: goldenrod;
    footer-text-color: white;
    footer-bg-color: rgb(255, 255, 255, .1)
}

.Theme3 {
    game-box-color: linear-gradient(to bottom, #d1913c, #ffd194);
    header-text-color: black;


    beadroad-bg-color: rgb(108,116,118,.5);
    beadroad-tile-color: white;
    bigroad-bg-color: rgb(108,116,118,.5);
    bigroad-tile-color: white;
    bigeyeroad-bg-color: rgb(108,116,118,.5);
    bigeyeroad-tile-color: white;
    smallroad-bg-color: rgb(108,116,118,.5);
    smallroad-tile-color: white;
    cockroachroad-bg-color: rgb(108,116,118,.5);
    cockroachroad-tile-color: white;

    paytable-bg-color: #2D4350;
    paytable-header-text-color: goldenrod;
    paytable-text-color: white;

    footer-border-color: goldenrod;
    footer-text-color: white;
    footer-bg-color: rgb(255, 255, 255, .1)
}

.Theme4 {
    game-box-color: linear-gradient(to bottom, #ffb75e, #ed8f03);
    header-text-color: black;


    beadroad-bg-color: rgb(108,116,118,.5);
    beadroad-tile-color: white;
    bigroad-bg-color: rgb(108,116,118,.5);
    bigroad-tile-color: white;
    bigeyeroad-bg-color: rgb(108,116,118,.5);
    bigeyeroad-tile-color: white;
    smallroad-bg-color: rgb(108,116,118,.5);
    smallroad-tile-color: white;
    cockroachroad-bg-color: rgb(108,116,118,.5);
    cockroachroad-tile-color: white;

    paytable-bg-color: #2D4350;
    paytable-header-text-color: goldenrod;
    paytable-text-color: white;

    footer-border-color: goldenrod;
    footer-text-color: white;
    footer-bg-color: rgb(255, 255, 255, .1)
}

.Theme5 {
    game-box-color: linear-gradient(to bottom, #fd746c, #ff9068);
    header-text-color: black;


    beadroad-bg-color: rgb(108,116,118,.5);
    beadroad-tile-color: white;
    bigroad-bg-color: rgb(108,116,118,.5);
    bigroad-tile-color: white;
    bigeyeroad-bg-color: rgb(108,116,118,.5);
    bigeyeroad-tile-color: white;
    smallroad-bg-color: rgb(108,116,118,.5);
    smallroad-tile-color: white;
    cockroachroad-bg-color: rgb(108,116,118,.5);
    cockroachroad-tile-color: white;

    paytable-bg-color: #2D4350;
    paytable-header-text-color: goldenrod;
    paytable-text-color: white;

    footer-border-color: goldenrod;
    footer-text-color: white;
    footer-bg-color: rgb(255, 255, 255, .1)
}
