.Theme1 {
    game-box-color: radial-gradient(center 50% 50%, radius 75%, #F3F2C9, #003638);
    bigroad-bg-color: brown;
    bigroad-tile-color: rgba(255, 255, 255, 0.5);
    header-bg-color: #550000;
}

.Theme2 {
    game-box-color: radial-gradient(center 50% 50%, radius 75%, #F3F2C9, #003638);
    bigroad-bg-color: blue;
    bigroad-tile-color: rgba(255, 255, 255, 0.5);
    header-bg-color: #005500;
}

.Theme3 {
    game-box-color: radial-gradient(center 50% 50%, radius 75%, #F3F2C9, #003638);
    bigroad-bg-color: red;
    bigroad-tile-color: rgba(255, 255, 255, 0.5);
    header-bg-color: #000055;
}

.Theme4 {
    game-box-color: radial-gradient(center 50% 50%, radius 75%, #F3F2C9, #003638);
    bigroad-bg-color: orange;
    bigroad-tile-color: rgba(255, 255, 255, 0.5);
    header-bg-color: #555500;
}

.Theme5 {
    game-box-color: radial-gradient(center 50% 50%, radius 75%, #F3F2C9, #003638);
    bigroad-bg-color: purple;
    bigroad-tile-color: rgba(255, 255, 255, 0.5);
    header-bg-color: #005555;
}
